body {
	background-color: #F0EAD6;
  padding: 50px 60px;
  font-family: sans-serif;
  text-align: center;
}

h1 {
	color: #00ffff;
    padding: 10px;
    background-color: rgba(45, 50, 60, 0.50);
}

.flexed {
    display: flex;
    flex-direction: row ;
    gap: 2px;
    width: 90vw;
    height: 80vh;
    background-color: blue;
}

.item {
    flex: 0.4;
    background-size: contain;
    transition: flex 3s ease-out;
}

.item:hover {
    flex: 10;
}
